<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>Our Community</h1>

  
  <ul>
    <% users.forEach(u => { %>
      <li>
        <a href="/user/<%= u._id %>"><%= u.username %></a>
      </li>
    <% }) %>
  </ul>
</body>
