<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1><%= user.username %>'s Pantry</h1>

  <% if (user.pantry.length === 0) { %>
    <p>This pantry has no items yet.</p>
  <% } else { %>
    <ul>
      <% user.pantry.forEach(item => { %>
        <li><%= item.name %></li>
      <% }) %>
    </ul>
  <% } %>
</body>

